@import 'base/typography';
@import 'base/color';

@import 'components/button';
@import 'components/tag';

@import 'layout/nav';
@import 'layout/header';
@import 'layout/slideshow';
@import 'layout/travels';
@import 'layout/explore';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    height: 100%;
}
