.explore {
    position: relative;
    width: 100%;
    transform: translateY(12rem);
    background-color: rgba($gray-clr, .2);
    padding: 3rem 2rem;
    overflow: hidden;
    color: $dorian-clr;
    h3 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.875rem;
    }
    .container {
        display: flex;
        max-width: 1200px;
        margin: auto;
        img {
            width: 100%;
        }
        .text, .image {
            width: 50%;
            flex: 1;
        }
        .text {
            padding-right: 1rem;
            h3 {
                text-align: left;
                font-size: 2.25rem;
                color: $yellow-clr;
            }
            p {
                font-size: 0.925rem;
            }
        }
        .image {
            position: relative;
            &__above {
                position: absolute;
                width: 360px;
                transform: translate(0px, 50px);
                z-index: 100;
            }
            &__box {
                position: absolute;
                top: 26px;
                left: 30px;
                width: 360px;
                transform: translate(0px, 50px);
                z-index: 99;
            }
            &__under {
                position: absolute;
                width: 100%;
                top: -280px;
                left: 30%;
                transform: scale(1.5);
                img {
                    position: absolute;
                    z-index: 10;
                    min-width: 592px;
                }
                img:nth-of-type(2) {
                    transform: translateY(41%);
                }
                img:nth-of-type(3) {
                    transform: translateY(67%);
                }
            }
        }
    }
}