nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    position: absolute;
    z-index: 10;
    font-weight: bold;
    color: $white-clr;
    .logo {
        display: flex;
        align-items: center;
        svg {
            width: 3.125rem;
            height: 4rem;
            fill: $red-clr;
        }
        span {
            margin-left: 10px;
            font-size: 2rem;
            align-items: center;
        }
    }
    .navbar {
        display: flex;
        align-items: center;
        ul {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            li {
                list-style: none;
                padding: 0.25rem 0.5rem;
                margin-right: 1rem;
                a {
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.4s;
                }
                &:hover a {
                    color: $green-clr;
                }
            }
        }
        .search {
            cursor: pointer;
            &:hover {
                color: $green-clr;
                transition: all 0.4s;
            }
            input {    
                border: none;
                outline: none;
                background-color: transparent;
                color: $white-clr;
                transition: all 0.4s;
                width: 0;
            }
            &.show input{
                width: 168px;
                padding: 0.25rem 0.5rem;
                border: 1px solid $green-clr;
                border-radius: 0.625rem;
            }
        }
    }
}