.slides-show {
    position: absolute;
    transform: translateY(-60%);
    .title {
        text-align: center;
        font-size: 1.25rem;
        color: $white-clr;
        margin-bottom: 2rem;
    }
    .slides {
        display: flex;
        .card {
            margin-right: 1rem;
            flex-grow: 1;
            position: relative;
            &__img {
                width: 100%;
                height: 100%;
            }
            &:last-child {
                margin-right: 0;
            }
            &__inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white-clr;
                text-align: center;
                opacity: 0;
                transition: all 0.4s;
            }
            &__title {
                font-size: 2rem;
                line-height: 1;
            }
            &__subtitle {
                margin-bottom: 2rem;
                color: $yellow-clr;
            }
            &__btn {
                border: 1px solid $gray-clr;
                a {
                    padding: 0.5rem 0.8rem;
                    width: 10rem;
                    font-size: 0.8rem;
                }
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.6);
                opacity: 0;
                transition: all 0.4s;
            }
            &:hover::before {
                opacity: 1;
            }
            &:hover .card__inner {
                opacity: 1;
            }
        }
    }
}