.btn {
    display: inline-block;
    border-radius: 1.75rem;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
    a {
        display: block;
        padding: 0.6rem 1.25rem;
        text-decoration: none;
        color: $white-clr;        
        font-weight: 600;
        word-spacing: 0.125rem; 
        transition: all 0.4s;           
    }
    &:hover {
        background-color: $yellow-clr;
    }
    &:hover a{
        color: $brown-clr;
    }
}