.tag {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: $gray-clr;
    font-size: 0.8rem;
    color: $white-clr;
    font-weight: 600;
    cursor: pointer;
}